html, body {
  background-color: black;
  color: white;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 62.5%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

section {
  max-width: 100vw;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  padding: 80px 0px;
}

.projects-list {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  max-width: 1600px;
  margin: 0px 60px;
}

.project {
  max-width: 90%;
  width: 45%;
  border-top: 1px solid #CDBEEE;
  border-bottom: 1px solid #CDBEEE;
  margin: 40px 80px;
  padding: 0px 40px;
  text-align: center;
}

h2 {
  /* font-family: 'Exo', sans-serif; */
  font-family: 'Space Mono', monospace;
  margin: 45px 0px;
  font-size: 5rem;
  line-height: 100%;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h3 {
  font-family: 'Space Mono', monospace;
  line-height: 175%;
  font-size: 2.2rem;

}

p {
  font-family: 'Space Mono', monospace;
  line-height: 200%;
  font-size: 1.8rem;
  letter-spacing: 0.4px;
  margin: 40px 0px;
}

@media screen and (max-width: 1250px) {
	.projects-list {
		flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    max-width: 90%;
	}

  .project {
    width: 550px;
    margin: 30px 0px;
    border: none;
  }

  .divider {
    width: 630px;
    max-width: 90%;
    border-top: 1px solid #CDBEEE;
  }
}

@media screen and (max-width: 800px) {
  h2 {
    font-size: 3.8rem;
    margin: 35px 0px;
  }

  h3 {
    font-size: 1.85rem;
  }

  p {
    font-size: 1.6rem;
    line-height: 175%;
    margin: 30px 25px;
  }
}

a {
  text-decoration: none;
  color: #8F6DD9;
  font-weight: bold;
}

h2 a {
  color: #B59EE6;
  font-weight: 400;
}

a:hover {
  color: #4AB342;
  text-decoration: wavy overline;
}

